body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(110deg, rgba(2,0,36,1) 0%, rgba(24,177,162,1) 100%);
    height: 98vh;
    color: white;
}

.main {
    color: black;
    display: flex;
    gap: 20px;
}

.card {
    background-color: white;
    border: solid;
    border-radius: 15px;
    border-width: 0px;
    padding: 20px;
    color: hsl(196, 64%, 20%);
}

.addBook {
    display: flex;
    align-items: center;
}

.icon {
    border: dashed;
    border-color: rgba(24,177,162,1);
    border-radius: 50%;
    border-width: 5px;
    padding: 20px;
}

img {
    width: 2rem;
    filter: invert(22%) sepia(100%) saturate(403%) hue-rotate(150deg) brightness(90%) contrast(89%);}

.title {
    font-size: x-large;
    font-weight: bold;
}